{% extends "base.html" %}
{% block info %}
<ol class="list-min">
	<li>Какие носители электрического заряда вы знаете?</li>
	<div>Проводники, полупроводники</div>
	<li>Чем заряженное тело отличается от нейтрального на атомарном уровне?</li>
	<div>Электрически нейтральное тело - это когда в теле число электронов и протонов одинаково. Если одно превышает другое то тело уже заряжено.</div>
	<li>Что такое квантованность заряда?</li>
	<div>Минимальная возможная порция равна элементарному заряду. Это свойство заряда называют квантованностью. Квант электрического заряда – элементарный электрический заряд – 
	\( \left\lvert a \right\rvert = 1.6 \cdot 10^{–19}\ Кл.\)</div>
	<li>Укажите основные свойства электрического заряда</li>
	<div><ul>
		<li>Существуют два вида электрических зарядов - <i>положительные и отрицательные</i>.</li>
		<li><i>Закон сохранения электрического заряда:</i> в электрически изолированной системе сумма электрических зарядов остаётся неизменной.</li>
		<li>Электрический заряд является <i>релятивистски инвариантным.</i> Его величина не зависит от системы отсчёта, от того, движется он или покоится.</li>
	</ul></div>
	<li>Как осуществляется взаимодействие между электрическими зарядами?</li>
	<div>Взаимодействие между зарядами и токами осуществляется через электромагнитное поле.</div>
	<li>С какой скоростью осуществляется взаимодействие между электрическими зарядами?</li>
	<div>Со скоростью света \(= 3 \cdot 10^{ 9}\ m/s \)</div>
	<li>Запишите закон Кулона в векторной форме.</li>
	<div>$$\vec F_{21} = k\frac{q_1q_2}{r^2_{21}}\cdot\frac{\vec r_{21}}{r_{21}};k=\frac{1}{4\pi\varepsilon_0}=9\cdot10^9\frac{Н\cdotм^2}{Кл^2}$$</div>
	<li>Что является силовой характеристикой электрического поля?</li>
	<div>Напряжённость электрического поля, которая равна отношению силы, действующей на неподвижный пробный электрический заряд к величине этого заряда.</div>
	<li>Что называется напряжённостью электрического поля?</li>
	<div>Силовая характериска поля, которая равна отношению силы, действующей на неподвижный пробный электрический заряд к величине этого заряда.</div>
	<li>Запишите формулу для напряжённости точечного заряда?</li>
	<div>$$\vec E=\frac{\vec F}{q_{пробн}}$$</div>
	<li>Какой заряд называют пробным?</li>
	<div>Точечный заряд, настолько малый, что его перемещение не вызывает перераспределения электрических зарядов на окружающих тела и поэтому не искажает исследуемого поля.</div>
	<li>Запишите формулу для напряжённости электрического поля, созданной точечным зарядом?</li>
	<div>$$\vec E=\frac{\vec F}{q_{пробн}}$$</div>
	<li>Что называют объёмной плотностью заряда, формула и единицы измерения?</li>
	<div>Количество электрического заряда, приходящееся на единицу объёма. \(\rho =\frac{dq}{dV} \;\; [\rho]=\frac{Кл}{м^3}\)</div>
	<li>Что называют поверхностной плотностью заряда, формула и единицы измерения?</li>
	<div>Количество электрического заряда, приходящееся на единицу площади. \(\sigma =\frac{dq}{dS} \;\; [\sigma]=\frac{Кл}{м^2}\)</div>
	<li>Что называют линейной плотностью заряда, формула и единицы измерения</li>
	<div>Количество электрического заряда, приходящееся на единицу длины. \(\tau =\frac{dq}{dl} \;\; [\tau]=\frac{Кл}{м}\)</div>
	<li>Дайте определение телесного угла</li>
	<div>Часть пространства, которая является объединением всех лучей, выходящих из данной точки (вершины угла) и пересекающих некоторую поверхность (которая называется поверхностью, стягивающей данный телесный угол). \(d\Omega=\frac{dS}{r^2}=\frac{dS_{\perp}}{r^2} \; [\Omega]=стерадиан=ср\)</div>
	<li>Что такое поток однородного векторного поля через плоскую площадку?</li>
	<div></div>
	<li>Как вычислить поток вектора напряжённости электрического поля через замкнутую поверхность?</li>
	<div>\(d\Phi=E_ndS; d\vec S=dS\cdot \vec n; d\Phi=\vec E\cdot d\vec S; \Phi=\int_S d\Phi [\Phi] = В\cdot м\)</div>
	<li>Запишите теорему Гаусса для вектора E в вакууме для системы точечных зарядов и для тела, заряженного с объёмной плотностью \(\rho\)</li>
	<div>$$\oint_S E_ndS=\frac{1}{\varepsilon_0}\int_V \rho dV$$</div>
	<li>Нарисуйте картину линий напряжённости и эквипотенциальных поверхностей заряженной сферы</li>
	<div></div>
	<li>Нарисуйте картину линий напряжённости и эквипотенциальных поверхностей полого заряженного цилиндра</li>
	<div></div>
	<li>Запишите теорему Гаусса для вектора E в дифференциальной форме.</li>
	<div>$$div \vec E = \frac{\rho}{\varepsilon_0}$$</div>
	<li>Какие силы называют консервативными?</li>
	<div>Это силы, работа которых не зависит от вида траектории, точки приложения этих сил и закона их движения, и определяется только начальным и конечным положением этой точки.</div>
	<li>Всегда ли центральные силы являются консервативными?</li>
	<div>Нет</div>
	<li>Что называют потенциальной энергией частицы в поле?</li>
	<div></div>
	<li>Как связана работа сил поля с изменением потенциальной энергии частицы в поле?</li>
	<div></div>
	<li>Что называется потенциалом электростатического поля?</li>
	<div></div>
	<li>Что называется потенциальной энергией точечного электрического заряда в электростатическом поле?</li>
	<div></div>
	<li>В чём заключается принцип суперпозиции потенциала?</li>
	<div>$$\varphi = \sum_i \varphi_i$$</div>
	<li>Как связаны между собой сила и потенциальная энергия?</li>
	<div>$$\vec F=-\nabla W=-gradW$$</div>
	<li>Как связаны между собой напряжённость и потенциал?</li>
	<div>$$\vec E =-\nabla \varphi =-grad\varphi$$</div>
	<li>Что называют электрическим диполем?</li>
	<div>Диполем называется система из двух точечных электрических зарядов равных по величине и противоположных по знаку, находящихся на расстоянии <i>l</i> друг от друга. При этом точка, где изучается поле должны быть удалена от зарядов на расстояние <i>r</i>, во много раз превоходящее расстояние между ними.</div>
	<li>Что называют дипольным моментом?</li>
	<div>$$\vec p=q \vec l \; [\vec p] = Кл \cdot м$$</div>
	<li>Запишите формулу для напряжённости, создаваемой электрическим диполем</li>
	<div>$$E =\frac{1}{4\pi\varepsilon_0}\frac{p\sqrt{1+3Cos^2\theta}}{r^3}$$</div>
	<li>Запишите формулу для потенциала, создаваемого электрическим диполем</li>
	<div>$$\varphi =\frac{1}{4\pi\varepsilon_0}\frac{pCos\theta}{r^2}$$</div>
	<li>Как определяется потенциальная энергия диполя в электрическом поле?</li>
	<div>$$W=- \vec p \cdot \vec E$$</div>
	<li>Как вычислить силу, действующую на диполь в электрическом поле?</li>
	<div>$$\vec F = q\frac{d\vec E}{d\vec l}= \frac{d\vec E}{d\vec p}=(\vec p \nabla)\cdot \vec E$$</div>
	<li>Как вычислить механический момент, действующий на диполь в электрическом поле?</li>
	<div>$$\vec M = [\vec l,q\vec E]=[\vec p, \vec E]$$</div>
	<li>Что называют полем поляризации в диэлектрике?</li>
	<div>Смещение в проитвоположные стороны положительных и отрицательных зарядов диэлетрика под действием внешнего электрического поля.</div>
	<li>Как при поляризации диэлектрика возникают связанные заряды?</li>
	<div>Появляются на поверхности</div>
	<li>Как происходит поляризация полярных диэлектриков?</li>
	<div>Молекулы полярных диэлектриков обладают собственным дипольным моментом уже в отсутствие внешнего электрического поля. Если внешнего поля нет, то они ориентированы совершенно беспорядочно и совершают хаотические тепловые движения. Под действием внешнего поля молекулы выстраиваются дипольными моментами вдоль поля. Но, чем выше температура вещества, тем суммарный дипольный момент меньше из-за тепловых колебаний молекул.</div>
	<li>Как происходит поляризация неполярных диэлектриков?</li>
	<div>Молекулы неполярны. Заряды в таких диэлектриках могут смещаться от своего начального положения лишь на расстояния меньше атомных \(r_{1 Бор\ орбиты}=0.53\cdot 10^{-8}см\). Но пробой воздуха наступает при напряжённости \(E=3\cdot 10^4В/см\). Понятно, что смещение зарядов происходит на расстояние \(\lt\lt r\ атома\).</div>
	<li>Как происходит поляризация ионных кристаллов?</li>
	<div>Ионные кристаллы состоят из двух (или более) кристаллических решёток, вдвинутых одна в другую. При наложении внешнего поля эти решётки сдвигаются в противоположных направлениях. Существуют ионные кристаллы поляризованные уже в отсутствие внешнего электрического поля.</div>
	<li>Что называют поляризуемостью молекулы, в каких единицах она измеряется?</li>
	<div>Физическое свойство веществ приобретать электрический дипольный момент (поляризацию) во внешнем электромагнитном поле. \([\alpha]=м^3\).</div>
	<li>Что называют поляризованностью вещества (формула и единицы измерения)?</li>
	<div>$$\vec P=\frac{1}{\Delta V}\sum_i \vec p_i \; [\vec P]=\frac{Кл}{м^2}$$</div>
	<li>Что называют вектором поляризации вещества (формула и единицы измерения)?</li>
	<div>$$\vec P=\varepsilon_0 \ae \ \vec E_{\sum макроск}$$</div>
	<li>Что называют диэлектрической восприимчивостью среды, в каких единицах она измеряется?</li>
	<div>Диэлектрическая восприимчивость (или поляризуемость) вещества — физическая величина, мера способности вещества поляризоваться под действием электрического поля. \( [\ae] \) - безразмерная величина.</div>
	<li>Что называют диэлектрической проницаемостью среды, в каких единицах она измеряется?</li>
	<div>Диэлектрик ослабляет электричес­кое поле. Вследствие того, что у разных диэлектриков это ослабление разное, то для характеристики их электрических свойств пользуются физической величиной, которая называется относительной диэлектрической проницаемостью, или просто диэлектричес­кой проницаемостью. Она показывает, во сколько раз напряженность электрического поля в диэлектрике меньше, чем вне его \(\varepsilon = E_0/E\).</div>
	<li>Запишите теорему Гаусса для вектора поляризации P в интегральной и дифференциальной формах?</li>
	<div>$$\oint_S \vec P dS = iq'_{связ}; div\vec P = -p'_{связ}$$</div>
	<li>Дайте определение вектора электрической индукции. В каких единицах она измеряется?</li>
	<div>$$\oint_S \vec D d\vec S=q_{своб} \; [\vec D] = \frac{Кл}{м^2}$$</div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
	<li></li>
	<div></div>
</ol>
{% endblock %}