{% extends "base.html" %}
{% load static %}
{% block info %}
<input type="text" id="search-min" placeholder="Начните поиск...">
<ol class="list-min">
	<li>Какие носители электрического заряда вы знаете?</li>
	<div>Электрон</div>
	<li>Чем заряженное тело отличается от нейтрального на атомарном уровне?</li>
	<div>Электрически нейтральное тело - это когда в теле число электронов и протонов одинаково. Если одно превышает другое то тело уже заряжено.</div>
	<li>Что такое квантованность заряда?</li>
	<div>Минимальная возможная порция равна элементарному заряду. Это свойство заряда называют квантованностью. Квант электрического заряда – элементарный электрический заряд – 
	\( \left\lvert a \right\rvert = 1.6 \cdot 10^{–19}\ Кл.\)</div>
	<li>Укажите основные свойства электрического заряда</li>
	<div><ul>
		<li>Существуют два вида электрических зарядов - <i>положительные и отрицательные</i>.</li>
		<li><i>Закон сохранения электрического заряда:</i> в электрически изолированной системе сумма электрических зарядов остаётся неизменной.</li>
		<li>Электрический заряд является <i>релятивистски инвариантным.</i> Его величина не зависит от системы отсчёта, от того, движется он или покоится.</li>
	</ul></div>
	<li>Как осуществляется взаимодействие между электрическими зарядами?</li>
	<div>Взаимодействие между зарядами и токами осуществляется через электромагнитное поле.</div>
	<li>С какой скоростью осуществляется взаимодействие между электрическими зарядами?</li>
	<div>Со скоростью света \(= 3 \cdot 10^{ 8}\ m/s \)</div>
	<li>Запишите закон Кулона в векторной форме.</li>
	<div>$$\vec F_{21} = k\frac{q_1q_2}{r^2_{21}}\cdot\frac{\vec r_{21}}{r_{21}};k=\frac{1}{4\pi\varepsilon_0}=9\cdot10^9\frac{Н\cdotм^2}{Кл^2}$$</div>
	<li>Что является силовой характеристикой электрического поля?</li>
	<div>Напряжённость электрического поля, которая равна отношению силы, действующей на неподвижный пробный электрический заряд к величине этого заряда.</div>
	<li>Что называется напряжённостью электрического поля?</li>
	<div>Силовая характериска поля, которая равна отношению силы, действующей на неподвижный пробный электрический заряд к величине этого заряда.</div>
	<li>Запишите формулу для напряжённости точечного заряда?</li>
	<div>$$\vec E=\frac{\vec F}{q_{пробн}}$$</div>
	<li>Какой заряд называют пробным?</li>
	<div>Точечный заряд, настолько малый, что его перемещение не вызывает перераспределения электрических зарядов на окружающих тела и поэтому не искажает исследуемого поля.</div>
	<li>Запишите формулу для напряжённости электрического поля, созданной точечным зарядом?</li>
	<div>$$\vec E=\frac{\vec F}{q_{пробн}}$$</div>
	<li>Что называют объёмной плотностью заряда, формула и единицы измерения?</li>
	<div>Количество электрического заряда, приходящееся на единицу объёма. \(\rho =\frac{dq}{dV} \;\; [\rho]=\frac{Кл}{м^3}\)</div>
	<li>Что называют поверхностной плотностью заряда, формула и единицы измерения?</li>
	<div>Количество электрического заряда, приходящееся на единицу площади. \(\sigma =\frac{dq}{dS} \;\; [\sigma]=\frac{Кл}{м^2}\)</div>
	<li>Что называют линейной плотностью заряда, формула и единицы измерения</li>
	<div>Количество электрического заряда, приходящееся на единицу длины. \(\tau =\frac{dq}{dl} \;\; [\tau]=\frac{Кл}{м}\)</div>
	<li>Дайте определение телесного угла</li>
	<div>Часть пространства, которая является объединением всех лучей, выходящих из данной точки (вершины угла) и пересекающих некоторую поверхность (которая называется поверхностью, стягивающей данный телесный угол). \(d\Omega=\frac{dS}{r^2}=\frac{dS_{\perp}}{r^2} \; [\Omega]=стерадиан=ср\)</div>
	<li>Что такое поток однородного векторного поля через плоскую площадку?</li>
	<div>$$d\Phi=EndS;\ \Phi=\oint_S EndS$$<img src="{% static 'img/17.jpg' %}" style="width: 100%;"></div>
	<li>Как вычислить поток вектора напряжённости электрического поля через замкнутую поверхность?</li>
	<div>\(d\Phi=E_ndS; d\vec S=dS\cdot \vec n; d\Phi=\vec E\cdot d\vec S; \Phi=\int_S d\Phi [\Phi] = В\cdot м\)</div>
	<li>Запишите теорему Гаусса для вектора E в вакууме для системы точечных зарядов и для тела, заряженного с объёмной плотностью \(\rho\)</li>
	<div>$$\oint_S E_ndS=\frac{1}{\varepsilon_0}\int_V \rho dV$$</div>
	<li>Нарисуйте картину линий напряжённости и эквипотенциальных поверхностей заряженной сферы</li>
	<div><img src="{% static 'img/20.jpg' %}" style="width: 100%;"></div>
	<li>Нарисуйте картину линий напряжённости и эквипотенциальных поверхностей полого заряженного цилиндра</li>
	<div><img src="{% static 'img/21.jpg' %}" style="width: 100%;"></div>
	<li>Запишите теорему Гаусса для вектора E в дифференциальной форме.</li>
	<div>$$div \vec E = \frac{\rho}{\varepsilon_0}$$</div>
	<li>Какие силы называют консервативными?</li>
	<div>Это силы, работа которых не зависит от вида траектории, точки приложения этих сил и закона их движения, и определяется только начальным и конечным положением этой точки.</div>
	<li>Всегда ли центральные силы являются консервативными?</li>
	<div><img src="{% static 'img/24_1.jpg' %}" style="width: 100%;"></div>
	<li>Что называют потенциальной энергией частицы в поле?</li>
	<div>Потенциальная энергия - часть механической энергии, определяемая расположением тел и характером взаимодействия между ними.</div>
	<li>Как связана работа сил поля с изменением потенциальной энергии частицы в поле?</li>
	<div>Потенциальная энергия заряда q, помещенного в любую точку (1) пространства, относительно фиксированной точки (0) равна работе, которую совершит электростатическое поле при перемещении заряда из точки (1) в точку (0)<br><img src="{% static 'img/26.jpg' %}" style="width: 100%;"></div>
	<li>Что называется потенциалом электростатического поля?</li>
	<div>Потенциал - энергетическая характеристика поля.$$\varphi_{точечного\ заряда}=\frac{1}{4\pi\varepsilon_0}q\frac{1}{r}$$</div>
	<li>Что называется потенциальной энергией точечного электрического заряда в электростатическом поле?</li>
	<div>Потенциальная энергия заряда q, помещенного в электростатическое поле, пропорциональна модулю этого заряда.$$W_{точечного\ заряда}=\frac{1}{4\pi\varepsilon_0}q\cdot q_{проб}\frac{1}{r}$$</div>
	<li>В чём заключается принцип суперпозиции потенциала?</li>
	<div>$$\varphi = \sum_i \varphi_i$$</div>
	<li>Как связаны между собой сила и потенциальная энергия?</li>
	<div>$$\vec F=-\nabla W=-gradW$$</div>
	<li>Как связаны между собой напряжённость и потенциал?</li>
	<div>$$\vec E =-\nabla \varphi =-grad\varphi$$</div>
	<li>Что называют электрическим диполем?</li>
	<div>Диполем называется система из двух точечных электрических зарядов равных по величине и противоположных по знаку, находящихся на расстоянии <i>l</i> друг от друга. При этом точка, где изучается поле должны быть удалена от зарядов на расстояние <i>r</i>, во много раз превоходящее расстояние между ними.</div>
	<li>Что называют дипольным моментом?</li>
	<div>$$\vec p=q \vec l \; [\vec p] = Кл \cdot м$$</div>
	<li>Запишите формулу для напряжённости, создаваемой электрическим диполем</li>
	<div>$$E =\frac{1}{4\pi\varepsilon_0}\frac{p\sqrt{1+3Cos^2\theta}}{r^3}$$</div>
	<li>Запишите формулу для потенциала, создаваемого электрическим диполем</li>
	<div>$$\varphi =\frac{1}{4\pi\varepsilon_0}\frac{pCos\theta}{r^2}$$</div>
	<li>Как определяется потенциальная энергия диполя в электрическом поле?</li>
	<div>$$W=- \vec p \cdot \vec E$$</div>
	<li>Как вычислить силу, действующую на диполь в электрическом поле?</li>
	<div>$$\vec F = q\frac{d\vec E}{d\vec l}= \frac{d\vec E}{d\vec p}=(\vec p \nabla)\cdot \vec E$$</div>
	<li>Как вычислить механический момент, действующий на диполь в электрическом поле?</li>
	<div>$$\vec M = [\vec l,q\vec E]=[\vec p, \vec E]$$</div>
	<li>Что называют полем поляризации в диэлектрике?</li>
	<div>Смещение в проитвоположные стороны положительных и отрицательных зарядов диэлетрика под действием внешнего электрического поля.</div>
	<li>Как при поляризации диэлектрика возникают связанные заряды?</li>
	<div>Появляются на поверхности</div>
	<li>Как происходит поляризация полярных диэлектриков?</li>
	<div>Молекулы полярных диэлектриков обладают собственным дипольным моментом уже в отсутствие внешнего электрического поля. Если внешнего поля нет, то они ориентированы совершенно беспорядочно и совершают хаотические тепловые движения. Под действием внешнего поля молекулы выстраиваются дипольными моментами вдоль поля. Но, чем выше температура вещества, тем суммарный дипольный момент меньше из-за тепловых колебаний молекул.</div>
	<li>Как происходит поляризация неполярных диэлектриков?</li>
	<div>Молекулы неполярны. Заряды в таких диэлектриках могут смещаться от своего начального положения лишь на расстояния меньше атомных \(r_{1 Бор\ орбиты}=0.53\cdot 10^{-8}см\). Но пробой воздуха наступает при напряжённости \(E=3\cdot 10^4В/см\). Понятно, что смещение зарядов происходит на расстояние \(\lt\lt r\ атома\).</div>
	<li>Как происходит поляризация ионных кристаллов?</li>
	<div>Ионные кристаллы состоят из двух (или более) кристаллических решёток, вдвинутых одна в другую. При наложении внешнего поля эти решётки сдвигаются в противоположных направлениях. Существуют ионные кристаллы поляризованные уже в отсутствие внешнего электрического поля.</div>
	<li>Что называют поляризуемостью молекулы, в каких единицах она измеряется?</li>
	<div>Физическое свойство веществ приобретать электрический дипольный момент (поляризацию) во внешнем электромагнитном поле. \([\alpha]=м^3\).</div>
	<li>Что называют поляризованностью вещества (формула и единицы измерения)?</li>
	<div>$$\vec P=\frac{1}{\Delta V}\sum_i \vec p_i \; [\vec P]=\frac{Кл}{м^2}$$</div>
	<li>Что называют вектором поляризации вещества (формула и единицы измерения)?</li>
	<div>$$\vec P=\varepsilon_0 \ae \ \vec E_{\sum макроск}$$</div>
	<li>Что называют диэлектрической восприимчивостью среды, в каких единицах она измеряется?</li>
	<div>Диэлектрическая восприимчивость (или поляризуемость) вещества — физическая величина, мера способности вещества поляризоваться под действием электрического поля. \( [\ae] \) - безразмерная величина.</div>
	<li>Что называют диэлектрической проницаемостью среды, в каких единицах она измеряется?</li>
	<div>Диэлектрик ослабляет электричес­кое поле. Вследствие того, что у разных диэлектриков это ослабление разное, то для характеристики их электрических свойств пользуются физической величиной, которая называется относительной диэлектрической проницаемостью, или просто диэлектричес­кой проницаемостью. Она показывает, во сколько раз напряженность электрического поля в диэлектрике меньше, чем вне его \(\varepsilon = E_0/E\).</div>
	<li>Запишите теорему Гаусса для вектора поляризации P в интегральной и дифференциальной формах?</li>
	<div>$$\oint_S \vec P dS = iq'_{связ}; div\vec P = -p'_{связ}$$</div>
	<li>Дайте определение вектора электрической индукции. В каких единицах она измеряется?</li>
	<div>$$\vec D =\varepsilon_0 \vec E_{\sum}+ \vec P$$</div>
	<li>Запишите теорему Гаусса для вектора электрической индукции.</li>
	<div>$$\oint_S \vec D d \vec S = q_{своб}; \; div \vec D=\rho$$</div>
	<li>Как в однородном изотропном диэлектрике связаны напряжённость электрического поля и вектор электрической индукции?</li>
	<div>$$\vec D=\varepsilon_0 \varepsilon \vec E_{\sum}$$</div>
	<li>Как связаны диэлектрическая проницаемость среды и диэлектрическая восприимчивость?</li>
	<div>$$\varepsilon=1+\ae$$</div>
	<li>Чему равна циркуляция электрической напряженности, созданной неподвижными электрическими зарядами?</li>
	<div>$$\oint_l E_l dl=0$$</div>
	<li>Запишите граничные условия для вектора E на границе раздела диэлектрик-диэлектрик</li>
	<div>$$E_{1\tau}=E_{2\tau}$$</div>
	<li>Запишите граничные условия для вектора E на границе раздела диэлектрик-вакуум</li>
	<div>$$E_{1\tau}=E_{2\tau}$$</div>
	<li>Запишите граничные условия для вектора D на границе раздела диэлектрик-диэлектрик</li>
	<div>$$D_{2n}=D_{2n}$$</div>
	<li>Запишите граничные условия для вектора D на границе раздела диэлектрик-вакуум</li>
	<div>$$D_{2n}=D_{2n}$$</div>
	<li>Запишите закон преломления линий вектора E на границе раздела диэлектрик-диэлектрик</li>
	<div>$$\frac{tg\alpha_2}{tg\alpha_1}=\frac{E_{2\tau}E_{1n}}{E_{1\tau}E_{2n}}=\frac{\varepsilon_2}{\varepsilon_1}$$</div>
	<li>Запишите закон преломления линий вектора D на границе раздела диэлектрик-диэлектрик</li>
	<div>$$\frac{tg\alpha_2}{tg\alpha_1}=\frac{D_{2\tau}D_{1n}}{D_{1\tau}D_{2n}}=\frac{\varepsilon_2}{\varepsilon_1}$$</div>
	<li>Какие вещества называют пьезоэлектриками?</li>
	<div>Пьезоэлеектрики — диэлектрики, в которых наблюдается пьезоэффект, то есть те, которые могут либо под действием деформации индуцировать электрический заряд на своей поверхности (прямой пьезоэффект), либо под влиянием внешнего электрического поля деформироваться (обратный пьезоэффект).</div>
	<li>В чём заключается поперечный пьезоэлектрический эффект?</li>
	<div>При взаимно перпендикулярном расположении направлений поляризации и механического напряжения пьезоэффект называют поперечным.</div>
	<li>В чём заключается продольный пьезоэлектрический эффект?</li>
	<div>При совпадении направлений поляризации и механического напряжения пьезоэффект называют продольным.</div>
	<li>Опишите прямой и обратный пьезоэлектрические эффекты?</li>
	<div><b>Прямой пьезоэлектрический эффект - </b>возникновение электрической поляризации в кристалле в результате растяжения или сжатия. <b>Обратный пьезоэлектрический эффект - </b>деформация кристалла под действием внешнего электрического поля.</div>
	<li>Какие вещества называются пироэлектриками?</li>
	<div>У некоторых пьезоэлектрических кристаллов одна ионная решётка смещена относительно другой в стостоянии термодинамического равновесия. Кристалл оказывается поляризованным в отсутствие электрического поля. Это незаметно, так как ионы из воздуха оседают на грани кристалла. Под действием внешнего поля пироэлектрик поляризуется слабо, так как он уже сильно поляризован.</div>
	<li>Какие вещества называются сегнетоэлектриками?</li>
	<div>Кристаллы, которые в определённой области температур являбтся спонтанно поляризованными (при этом поляризация может быть изменена на противоположную сравнительно слабым полем). На границах этой области кристалл переходит в другие крисатллические модификации, в которых спонтанной поляризации нет.</div>
	<li>За счёт чего возникает гистерезис в сегнетоэлектриках?</li>
	<div>Гистерезис - зависимость P и D от E. Зависимость Р от Е имеет сложный характер: процесс переориентации доменов (области с различными направлениями вектора Р) происходит с запаздыванием, поляризация зависит не только от внешнего поля, но и от предшествующей поляризации сегнетоэлектрика.</div>
	<li>Нарисуйте петлю гистерезиса в сегнетоэлектрике, покажите остаточную поляризацию и коэрцитивную силу.</li>
	<div><img src="{% static 'img/68img.jpg' %}" style="width: 100%;"></div>
	<li>Постройте график зависимости диэлектрической проницаемости в сегнетоэлектрике от приложенного поля</li>
	<div><img src="{% static 'img/69.jpg' %}" style="width: 100%;"></div>
	<li>Что происходит в сегнетоэлектриках при нагревании выше температуры Кюри?</li>
	<div>Он перестаёт быть спонтанно поляризованным.</div>
	<li>Металлическое тело находится в электрическом поле. Что вы можете сказать о значении потенциала в различных точках этого тела?</li>
	<div>Они одинаковы.</div>
	<li>Как направлены линии напряжённости по отношению к поверхности заряженного проводящего тела. Почему?</li>
	<div>Перпендикулярно к поверхности проводника. Если бы это было не так, то под дейтсвием тангенциальной составляющей поля по поверхности проводника должен был течь ток.</div>
	<li>Запишите уравнение Пуассона и Лапласа</li>
	<div>$$\nabla^2 \varphi=-\frac{\rho}{\varepsilon_0}; \; \nabla^2 \varphi=0$$</div>
	<li>В чём заключается метод электрических изображений для металлов?</li>
	<div>Если сложно вычислить поле и потенциал реального распределения зарядов, можно придумать другую конфигурацию зарядов, которая даст такое же распределение потенциала по поверхности проводников. В тех точках пространства, где есть поле, его напряжённость и потенциал можно будет вычислять как напряжённость и потенциал от новой конфигурации зарядов.</div>
	<li>Нарисуйте заряд отображения для точечного заряда вблизи бесконечной проводящей плоскости</li>
	<div><img src="{% static 'img/75img.jpg' %}" style="width: 100%;"></div>
	<li>Что называется электрической емкостью уединённого проводника?</li>
	<div>Электроемкостью уединенного проводника называется мера его способности удерживать электрический заряд. Емкость проводника не зависит ни от заряда, ни от потенциала. Она зависит от геометрии проводника (размеры, форма), от свойств среды (диэлектрическая проницаемость), от расположения заряженных тел.</div>
	<li>Что называют ёмкостью конденсатора?</li>
	<div>Электрическая емкость – это мера способности конденсатора накапливать заряды.</div>
	<li>Как вычислить ёмкость последовательно соединённых конденсаторов?</li>
	<div>$$\frac{1}{C}=\frac{1}{C_2}+\frac{1}{C_2}$$</div>
	<li>Как вычислить ёмкость параллельно соединённых конденсаторов?</li>
	<div>$$C=C_1+C_2+C_3$$</div>
	<li>Выведите формулу для ёмкости плоского конденсатора</li>
	<div>\(E_1=\frac{\sigma}{2\varepsilon_0}\) по т. Гаусса. \(E_1=\frac{\sigma}{2\varepsilon\varepsilon_0}\) - Если конденсатор заполнен диэлектриком. Напряжённость поля внутри конденсатора: \(E=2E_1=\frac{\sigma}{\varepsilon\varepsilon_0}\). Разность потенциалов между обкладками конденсатора \(U=Ed=\frac{\sigma d}{\varepsilon\varepsilon_0}=\frac{qd}{S\varepsilon\varepsilon_0}\). Ёмкость плоского конденсатора \(C=\frac{q}{U}=\frac{\varepsilon_0 \varepsilon S}{d}\)</div>
	<li>Выведите формулу для ёмкости сферического конденсатора</li>
	<div>по т. Гаусса \(\oint_S \vec D d \vec S=q \Rightarrow D=\frac{q}{4\pi r^2}\) \(\Rightarrow E=\frac{q}{4\pi r^2 \varepsilon\varepsilon_0}\). Разность потенциалов между обкладками конденсатора \(\Delta \varphi=-\int^{R2}_{R1} Edr=-\int^{R2}_{R1}\frac{q}{4\pi r^2 \varepsilon\varepsilon_0}dr=\\ \frac{q}{4\pi \varepsilon\varepsilon_0}(\frac{1}{R_1}-\frac{1}{R_2}) \Rightarrow C=\frac{q}{\Delta \varphi}=\frac{4\pi \varepsilon\varepsilon_0 R_1R_2}{R_2-R_1}\)</div>
	<li>Выведите формулу для ёмкости на единицу длины цилиндрического конденсатора</li>
	<div>$$C=\frac{2\pi\varepsilon_0l}{ln(R_2/R_1)}$$</div>
	<li>Запишите формулу для энергии заряженного конденсатора</li>
	<div>$$W=\frac{CU^2}{2}=\frac{qU}{2}=\frac{q^2}{2C}$$</div>
	<li>Конденсатор присоединён к источнику. Его параметры изменяют. За счёт работы каких сил меняется энергия конденсатора?</li>
	<div>$$\Delta W = -A_{сил\ поля}+A_{ист.}=A_{вн.\ сил}+A_{ист.}$$</div>
	<li>Конденсатор присоединён к источнику. Его параметры изменяют. Как вычислить работу источника тока?</li>
	<div>$$A_{ист.}=\Delta qU=\Delta CU^2$$</div>
	<li>Конденсатор присоединён к источнику. Его параметры изменяют. Как вычислить работу сил поля?</li>
	<div>$$A_{сил\ поля}=\Delta qU-\Delta W$$$$\Delta W = \frac{C_2U^2}{2}-\frac{C_1U^2}{2}=\frac{(d_1-d_2)\varepsilon_0SU^2}{2d_2d_1}$$</div>
	<li>Вычислите силу притяжения пластин плоского конденсатора</li>
	<div>Напряжённость поля в конденсаторе \(E=\frac{U}{d}\). Поле, создаваемое одной обкладкой \(E_1=\frac{E}{2}=\frac{U}{2d}\). Сила притяжения пластин \(F=qE_1=\frac{qU}{2d}=\frac{W}{d}\)</div>
	<li>Запишите формулу для энергии системы точечных зарядов</li>
	<div>$$W_{123}=\frac{q_1(\varphi_{12}+\varphi_{13})+q_2(\varphi_{21}+\varphi_{23})+q_3(\varphi_{31}+\varphi_{32})}{2}$$$$W=\frac{1}{2} \sum_iq_i\sum_{j\neq i}\varphi_{ij}=\frac{1}{2}\sum_iq_i\varphi_i$$</div>
	<li>Как вычислить энергию заряженного уединённого проводника?</li>
	<div>$$W=\frac{1}{2}\int_V\varphi\rho dV=\frac{q\varphi}{2}=\frac{C\varphi^2}{2}=\frac{q^2}{2C}$$</div>
	<li>Выведите формулу для энергии заряженного конденсатора</li>
	<div>$$W=\frac{q_+\varphi_++q_-\varphi_-}{2}=\frac{q_+(\varphi_+-\varphi_-)}{2}\\ =\frac{CU^2}{2}$$</div>
	<li>Как вычислить объёмную плотность энергии электрического поля?</li>
	<div>$$\omega = \frac{\vec E \vec D}{2} \; [\omega]=\frac{Дж}{м^3}$$</div>
	<li>Что называют силой тока?</li>
	<div>$$I=\frac{dq}{dt} \; [I]=A$$</div>
	<li>Как связана сила тока в проводнике со скоростью направленного движения носителей?</li>
	<div>$$I=envS$$</div>
	<li>Что называют электрическим сопротивлением?</li>
	<div>физическая величина, характеризующая свойство проводника препятствовать прохождению электрического тока и равная отношению напряжения на концах проводника к силе тока, протекающего по нему \(R=\frac{U}{I}\)</div>
	<li>Запишите формулу для электрического сопротивления цилиндрического проводника</li>
	<div>$$R=\frac{\rho l}{S}$$</div>
	<li>Что называют плотностью тока?</li>
	<div>Пло́тность то́ка — векторная физическая величина, имеющая смысл силы электрического тока, протекающего через элемент поверхности единичной площади.$$j=\frac{dq}{Sdt}=env$$</div>
	<li>Запишите формулу для эквивалентного сопротивления при параллельном соединении проводников</li>
	<div>$$\frac{1}{R}=\frac{1}{R_1}+\frac{1}{R_2}+...$$</div>
	<li>Запишите формулу для эквивалентного сопротивления при последовательном соединении проводников</li>
	<div>$$R=R_1+R_2+...$$</div>
	<li>Что называется электродвижущей силой источника тока?</li>
	<div>$$\varepsilon=\frac{A_{стор\ сил}}{q}$$</div>
	<li>Какие силы называются сторонними?</li>
	<div>Внутри источника тока перенос заряда в сторону возрастания потенциала возможен только с помощью сил не электростатического происхождения. Они получили название <b>сторонние силы</b>.</div>
	<li>Чем отличается электродвижущая сила источника тока от разности потенциалов на его электродах?</li>
	<div>ЭДС создает и длительное время поддерживает разность потенциалов на концах проводника.<br>
	Вольтметр подключаем к полюсам источника: если электрическая цепь разомкнута, то вольтметр покажет ЭДС источника тока, если же замкнуть цепь, то вольтметр уже покажет напряжение на зажимах источника тока.<br>
	Разность потенциалов - характеризует работу сил поля по перемещению заряда из точки с одним потенциалом в точку с другим потенциалом.<br>
	ЭДС - физ. величина, характеризует работу сторонних сил (не кулоновских) по перемещению заряда.</div>
	<li>Какое уравнение выражает закон сохранения электрического заряда?</li>
	<div>Уравнение непрерывности</div>
	<li>Запишите уравнение непрерывности</li>
	<div>$$\oint_S\vec j d \vec S=-\int_V\frac{\rho dV}{dt}\\ div\ \vec j=-\frac{\partial\rho}{\partial t}$$</div>
	<li>Запишите закон Ома для однородного участка цепи в интегральной и дифференциальной формах</li>
	<div>$$I=jS=\frac{\sigma S}{l}U=\frac{U}{R}$$$$\vec j = env=\frac{e^2n}{m}\frac{\tau}{2}\vec E=\sigma \vec E$$</div>
	<li>Запишите закон Ома для неоднородного участка цепи в интегральной и дифференциальной формах</li>
	<div>$$IR=\varphi_1-\varphi_2+\varepsilon$$$$\vec j=\sigma(\vec E + \vec E_стор)$$</div>
	<li>Какая физическая величина называется удельной проводимостью, в каких единицах она измеряется</li>
	<div>$$[\sigma]=\frac{См}{м}, См - сименс$$</div>
	<li>Какая физическая величина называется напряжением на участке цепи?</li>
	<div>Напряжением \(U_{12}\) на участке цепи 1-2 называется физическая величина, численно рпавная работе, совершаемой результирующим полем кулоновских и сторонних сил при перемещении вдоль цепи из точки 1 в точку 2 единичного положительного заряда.$$U=\frac{A_{всех\ сил}}{q}=\int^2_1\vec E d\vec l+\int^2_1\vec E_{стор}d\vec l\\ =\varphi_1-\varphi_2+\varepsilon$$</div>
	<li>Сформулируйте законы Кирхгофа</li>
	<div><b>I закон.</b> Сумма токов в узле равна нулю (закон сохранения заряда). <b>II закон.</b> Сумма произведений сил тока в отдельных ветвях произвольного замкнутого контура на их сопротивления равна алгебрарической сумме ЭДС, действующих в этом контуре. (Второй закон Кирхгоффа получается, если записать законы Ома для всех участков цепи, составляющих контур и сложить их. Потенциалы начальной и конечной точек окажутся одинаковы.)</div>
	<li>Получите законы Кирхгофа</li>
	<div><img src="{% static 'img/109.jpg' %}" style="width: 100%;"></div>
	<li>Вычислите ЭДС и суммарное внутреннее сопротивление источников при последовательном и параллельном соединении одинаковых источников в батарею</li>
	<div>$$\varepsilon=Ir+I\frac{R}{n}$$$$\varepsilon=IR+I\frac{r}{n}$$</div>
	<li>Выведите формулы для преобразования треугольник- звезда</li>
	<div><img src="{% static 'img/111img.jpg' %}" style="width: 100%;"></div>
	<li>Запишите формулу для мощности тока для однородного участка цепи в интегральной форме</li>
	<div>$$P=I(\varphi_1-\varphi_2)=RI^2$$</div>
	<li>Запишите формулу для мощности тока для однородного участка цепи в дифференциальной форме</li>
	<div>$$\dot{p}=\rho j^2=jE=\sigma E^2$$</div>
	<li>Запишите формулу для мощности тока для неоднородного участка цепи в интегральной форме</li>
	<div>$$P=I^2R=(\varphi_1-\varphi_2)I+\varepsilon I$$</div>
	<li>Запишите формулу для мощности тока для неоднородного участка цепи в дифференциальной форме</li>
	<div>$$\dot{p}=j^2\rho=j(E+E_{стор})$$</div>
	<li>Выведите соотношение между сопротивлением источника и нагрузки, позволяющее получить максимальную полезную мощность</li>
	<div><img src="{% static 'img/116.jpg' %}" style="width: 100%;"></div>
	<li>Как можно создать магнитное поле?</li>
	<div><ul>
		<li>Движущимися заряженными частицами</li>
		<li>Электрических током</li>
		<li>Изменяющимся во времени электрическим полем</li>
	</ul></div>
	<li>На какие объекты может действовать магнитное поле?</li>
	<div><ul>
		<li>Движущуюся заряженную частицу</li>
		<li>Проводник с током</li>
		<li>Контур с током</li>
	</ul></div>
	<li>Запишите формулу для индукции магнитного поля, созданного движущейся заряженной частицей</li>
	<div>$$\vec B=\frac{\mu_0}{4\pi}\frac{q[\vec v, \vec r]}{r^3}$$</div>
	<li>Вычислите индукцию магнитного поля в центре кругового витка</li>
	<div><img src="{% static 'img/120img.jpg' %}" style="width: 100%;"></div>
	<li>Вычислите индукцию магнитного поля прямого тока на расстоянии a от него</li>
	<div><img src="{% static 'img/119_1.jpg' %}" style="width: 100%;"><img src="{% static 'img/119_2.jpg' %}" style="width: 100%;"><img src="{% static 'img/119_3.jpg' %}" style="width: 100%;"></div>
	<li>Запишите теорему Гаусса для вектора B</li>
	<div>$$\oint_S\vec B d \vec S=0, \; div\ \vec B=0$$</div>
	<li>Какое уравнение показывает, что линии индукции магнитного поля всегда замкнуты?</li>
	<div>$$\oint_S\vec B d \vec S=0$$</div>
	<li>Запишите закон Био-Савара-Лапласа</li>
	<div>$$d\vec B=\frac{\mu_0}{4\pi}\frac{I[d\vec l, \vec r]}{r^3}$$</div>
	<li>Запишите теорему о циркуляции вектора магнитной индукции в интегральной форме (в отсутствие магнетиков)</li>
	<div>$$\oint_L\vec B d\vec l=\mu_0I_{\sum}$$</div>
	<li>Запишите теорему о циркуляции вектора магнитной индукции в дифференциальной форме (в отсутствие магнетиков)</li>
	<div>$$rot\vec B=\mu_0\vec j$$</div>
	<li>Выведите формулу для индукции магнитного поля внутри длинного соленоида</li>
	<div><img src="{% static 'img/127.jpg' %}" style="width: 100%;"></div>
	<li>Запишите формулу для силы Лоренца</li>
	<div>$$\vec F=q\vec E+q[\vec v, vec B]$$</div>
	<li>Заряженная частица движется по окружности в магнитном поле. Выведите формулу для радиуса окружности</li>
	<div><img src="{% static 'img/129.jpg' %}" style="width: 100%;"></div>
	<li>Заряженная частица движется по спирали в однородном магнитном поле. Выведите формулу для радиуса и шага винтовой линии</li>
	<div><img src="{% static 'img/128_1.jpg' %}" style="width: 100%;"><img src="{% static 'img/128_2.jpg' %}" style="width: 100%;"><img src="{% static 'img/128_3.jpg' %}" style="width: 100%;"></div>
	<li>Запишите формулу для силы Ампера</li>
	<div>$$d\vec F=I[d\vec l, \vec B]$$</div>
	<li>Как вычислить работу сил магнитного поля при перемещении контура с током?</li>
	<div>$$A=\int^2_1Id\Phi=I\Delta\Phi=I(\Phi_2-\Phi_1)$$</div>
	<li>Что называют магнитным моментом контура с током?</li>
	<div>$$\vec P_m=IS\vec n, [\vec P_m]=А \cdot м^2$$</div>
	<li>Как вычислить силу, действующую на контур с током в магнитном поле?</li>
	<div>$$\vec F=I\oint_L[d\vec l, \vec B]=0$$</div>
	<li>Как вычислить механический момент, действующий на контур с током в магнитном поле?</li>
	<div><img src="{% static 'img/135.jpg' %}" style="width: 100%;"></div>
	<li>Как вычислить потенциальную энергию контура с током в магнитном поле?</li>
	<div>$$E_п=-I\Phi=-I\vec B\vec S=-\vec P_m\vec B$$</div>
	<li>Как возникают токи намагничивания?</li>
	<div>
		<ul>
			<li>Из-за движения электронов по орбитам и вращения электронов вокруг собственной оси (собственные магнитные моменты молекул)</li>
			<li>В магнитном поле (Индуцированные магнитные моменты молекул)</li>
		</ul>
	</div>
	<li>Что называют намагниченностью магнетика? В каких единицах она измеряется?</li>
	<div>Степень намагничения магнетика характеризуют магнитным моментом единицы объема.$$\vec J=\frac{1}{\Delta V}\sum_i\vec p_{mi}=n\langle \vec p_m\rangle;\ [\vec J]=\frac{А}{м}$$</div>
	<li>Что называют вектором намагничивания? В каких единицах он измеряется?</li>
	<div>тоже, что и вопрос выше.</div>
	<li>Запишите теорему о циркуляции вектора намагничивания в интегральной форме</li>
	<div>\(\oint_L\vec J d\vec l=I_{\sum}'\) - для дискретных токов. \(\oint_L\vec J d \vec l=\oint_S\vec j 'd\vec S\) - для непрерывно распределённых токов.</div>
	<li>Запишите теорему о циркуляции вектора намагничивания в дифференциальной форме</li>
	<div>$$rot\vec J=\vec j'$$</div>
	<li>Запишите теорему о циркуляции вектора B при наличии магнетика.</li>
	<div>$$\oint_L\vec B d\vec l=\mu_0(I_{\sum}+I_{\sum}')$$</div>
	<li>Что называется напряжённостью магнитного поля? В каких единицах она измеряется?</li>
	<div>$$\vec H=\frac{\vec B}{\mu_0}-\vec J; \; [\vec H]=\frac{А}{м}$$</div>
	<li>Запишите теорему о циркуляции напряжённости магнитного поля в интегральной и дифференциальной формах</li>
	<div>$$\oint_L\vec Hd\vec l=I_{\sum}$$$$rot\vec H=\vec j$$</div>
	<li>Как связаны намагниченность и напряжённость магнитного поля?</li>
	<div>$$\vec J=\chi\vec H$$</div>
	<li>Что называют магнитной восприимчивостью среды, в каких единицах она измеряется?</li>
	<div>\(\chi\) - безразмерная величина</div>
	<li>Что называют магнитной проницаемостью среды, в каких единицах она измеряется?</li>
	<div>\(\mu\) - безразмерная величина</div>
	<li>Как связаны индукция магнитного поля и напряжённость магнитного поля</li>
	<div>$$\vec B=\mu_0\mu\vec H$$</div>
	<li>Запишите теорему Гаусса для вектора B при наличии магнетика</li>
	<div>$$\oint_S\vec Bd\vec S=0$$</div>
	<li>Выведите граничные условия для векторов B и H на границе магнетиков.</li>
	<div>$$B_{2n}=B_{1n}, \mu_2H_{2n}=\mu_1H_{1n}$$</div>
	<li>Выведите закон преломления линий индукции магнитного поля на границе двух магнетиков</li>
	<div><img src="{% static 'img/151.jpg' %}" style="width: 100%;"></div>
	<li>Выведите закон преломления линий напряжённости магнитного поля на границе двух магнетиков</li>
	<div><img src="{% static 'img/152.jpg' %}" style="width: 100%;"></div>
	<li>Какие вещества называются парамагнетиками? Какова их магнитная проницаемость?</li>
	<div>Элементы, у которых на внешней орбите - нечётное число электронов. Во внещнем магнитном поле магнитные мометы молекулярных токов выстраиваются вдоль поля. Парамагнетики втягиваются в сильное поле. \(\mu>1\)</div>
	<li>Какие вещества называются диамагнетиками ? Какова их магнитная проницаемость?</li>
	<div>Элементы, у которых в отсутствие внешнего поля нет собственного магнитного момента. Во внешнем поле он индуцируется. По правилу Ленца индуцированные магнитные моменты должны быть направлены против поля. Диамагнетики выталкивабтся из поля. \(\mu<1\)</div>
	<li>Какие вещества называются ферромагнетиками?</li>
	<div>Вещества, которые обладают спонтанной намагниченностью - намагничены уже в отсутствие внешнего поля.</div>
	<li>Что такое доменная структура ферромагнетиков?</li>
	<div>Ферромагнетики при температуре ниже точки Кюри в магнитном отношении распадаются на множество маленьких макроскопических областей, и каждая из них является спонтанно намагниченной. Эти области получили название доменов.</div>
	<li>Изобразите петлю гистерезиса в ферромагнетиках.</li>
	<div><img src="{% static 'img/157.jpg' %}" style="width: 100%;"></div>
	<li>Как магнитная проницаемость ферромагнетика зависит от внешнего поля?</li>
	<div><img src="{% static 'img/158.jpg' %}" style="width: 100%;"></div>
	<li>Что такое температура Кюри для ферромагнетиков?</li>
	<div>Значение температуры, выше которого ферромагнетик превращается в парамагнетик</div>
	<li>Почему при нагревании выше температуры Кюри ферромагнетики теряют свои свойства?</li>
	<div>При повышении температуры способность ферромагнетиков намагничиваться уменьшается, в частности, уменьшается намагниченность насыщения.</div>
	<li>Запишите закон электромагнитной индукции Фарадея.</li>
	<div>$$\varepsilon=-\frac{d\Phi}{dt}$$</div>
	<li>Сформулируйте правило Ленца</li>
	<div>Индукционный ток всегда направлен таким образом, чтобы своим магнитным полем препятствовать изменению магнитного потока через контур. \(\varepsilon=-\frac{d\Phi}{dt}\)</div>
	<li>Опишите природу возникновения ЭДС индукции в движущемся проводнике.</li>
	<div>сила Лоренца</div>
	<li>Опишите природу возникновения ЭДС индукции в неподвижном контуре при изменении магнитного потока через него</li>
	<div><img src="{% static 'img/164_1.jpg' %}" style="width: 100%;"><img src="{% static 'img/164_2.jpg' %}" style="width: 100%;"></div>
	<li>Какое электрическое поле называется вихревым?</li>
	<div>Поле, силовые линии которого замкнуты</div>
	<li>Запишите теорему о циркуляции вихревого электрического поля в интегральной и дифференциальной форме</li>
	<div>$$\oint_L \vec E d\vec l=-\oint_S\frac{\partial\vec B}{\partial t}d\vec S$$$$rot\vec E=-\frac{\partial\vec B}{\partial t}$$</div>
	<li>Что называется индуктивностью контура, в каких единицах она измеряется?</li>
	<div>Индукти́вность (или коэффициент самоиндукции) — коэффициент пропорциональности между электрическим током, текущим в каком-либо замкнутом контуре, и полным магнитным потоком, \([L]=Гн\)</div>
	<li>Получите формулу для индуктивности на 1 метр длины бесконечно длинного соленоида</li>
	<div>Магнитное поле \(B=\mu_0\mu nI\)<br>Магнитный поток через один виток \(\Phi_1=\mu_0\mu nIS_1\)<br>Полный магнитный поток \(\Phi_{полн}=\mu_0\mu nIS_1nl=LI\), l - длина соленоида<br>\(L=\mu_0\mu n^2V\)</div>
	<li>Дайте определение коэффициента взаимной индукции</li>
	<div>Если вблизи проводника или катушки с током расположить другой проводник или катушку, то часть магнитного потока первой катушки \(\Phi_{21}\) будет сцепляться со второй (рис. 1). Величина этого потока определяется геометрическими параметрами второй катушки, ее расположением относительно первой, а также магнитными свойствами окружающей среды, т.е. \(\Phi_{21}=M_{21}i_1\). В этом выражении коэффициент M21 называется <b>коэффициентом взаимной индукции или взаимной индуктивностью</b> и по смыслу аналогичен индуктивности \(L\).</div>
	<li>Два соленоида с током находятся в непосредственной близости друг от друга. Как вычислить их суммарную индуктивность</li>
	<div><img src="{% static 'img/170.jpg' %}" style="width: 100%;"></div>
	<li>Запишите формулу для объёмной плотности энергии магнитного поля</li>
	<div>$$\omega=\frac{\vec B\vec H}{2};\ W=\int_V\frac{\vec B\vec H}{2}dV$$</div>
	<li>Два соленоида с током находятся в непосредственной близости друг от друга. Как вычислить суммарную энергию магнитного поля в них?</li>
	<div>$$W=\frac{L_1I_1^2}{2}+\frac{L_2I_2^2}{2}+L_{21}I_2I_1$$</div>
	<li>Дайте определение тока смещения.</li>
	<div>Ток смещения, или абсорбционный ток, — величина, прямо пропорциональная скорости изменения электрической индукции.$$\vec j_{см}=\frac{\partial\vec D}{\partial t}$$</div>
	<li>Приведите простейший пример, доказывающий необходимость введения тока смещения</li>
	<div>Неправильная теорема о циркуляции вектора H<img src="{% static 'img/174.jpg' %}" style="width: 100%;"></div>
	<li>Что называется плотностью полного тока?</li>
	<div>Векторная величина, равная сумме плотности тока проводимости, плотности тока переноса и плотности тока смещения.<br><b>Плотность тока</b> — векторная физическая величина, имеющая смысл силы электрического тока, протекающего через элемент поверхности единичной площади<img src="{% static 'img/175.jpg' %}" style="width: 100%;"></div>
	<li>Перечислите свойства тока смещения</li>
	<div><ul>
		<li>Ток смещения эквивалентен току  проводимости только в отношении способности создавать магнитное поле</li>
		<li>Токи смещения существуют только там, где меняется во времени электрическое поле</li>
		<li>Две причины возникновения тока смещения</li>
	</ul></div>
	<li>Приводит ли наличие тока смещения к выделению джоулевой теплоты?</li>
	<div>НЕТ</div>
	<li>Запишите систему уравнений Максвелла в интегральной форме.</li>
	<div><img src="{% static 'img/178.jpg' %}" style="width: 100%;"></div>
	<li>Запишите систему уравнений Максвелла в дифференциальной форме.</li>
	<div><img src="{% static 'img/179.jpg' %}" style="width: 100%;"></div>
	<li>Запишите систему уравнений Максвелла в стационарном случае.</li>
	<div><img src="{% static 'img/180.jpg' %}" style="width: 100%;"></div>
	<li>Как доказать, что изменяющееся во времени электрическое поле порождает магнитное?</li>
	<div><img src="{% static 'img/181.jpg' %}" style="width: 100%;"></div>
	<li>Как доказать, что изменяющееся во времени магнитное поле порождает электрическое?</li>
	<div><img src="{% static 'img/182.jpg' %}" style="width: 100%;"></div>
	<li>Каким образом можно создать электрическое поле? Подтвердите уравнениями.</li>
	<div></div>
	<li>Каким образом можно создать магнитное поле? Подтвердите уравнениями.</li>
	<div><img src="{% static 'img/184.jpg' %}" style="width: 100%;"></div>
	<li>Какими уравнениями надо дополнить систему уравнений Максвелла?</li>
	<div><img src="{% static 'img/185_1.jpg' %}" style="width: 100%;"><img src="{% static 'img/185_2.jpg' %}" style="width: 100%;"></div>
	<li>Что называется материальными уравнениями?</li>
	<div><img src="{% static 'img/185_2.jpg' %}" style="width: 100%;"></div>
	<li>Запишите формулу для объёмной плотности энергии электромагнитного поля</li>
	<div><img src="{% static 'img/187.jpg' %}" style="width: 100%;"></div>
	<li>Что называется вектором плотности потока энергии электромагнитного поля?</li>
	<div>Вектор Умова-Пойтинга.$$\vec S=[\vec E,\vec H]$$</div>
	<li>Запишите вектор Умова-Пойнтинга. Что он показывает?</li>
	<div>Вектор Пойнтинга — вектор плотности потока энергии электромагнитного поля.$$\vec S=[\vec E,\vec H]$$</div>
	<li>Запишите уравнение гармонических колебаний</li>
	<div>$$x=x_0Cos(\omega_0t+\varphi_0)$$</div>
	<li>Что называется фазой колебаний?</li>
	<div>Угол, под которым тело находится к положительному направлению к горизонтальной оси в определенный момент времени$$\varphi=\omega_0t+\varphi_0 - фаза$$</div>
	<li>Что называется начальной фазой колебаний?</li>
	<div>Угол, под которым тело находится к положительному направлению к горизонтальной оси в нулевой момент времени</div>
	<li>Запишите зависимость скорости точки, совершающей гармонические колебания от времени.</li>
	<div>$$v_x=\frac{dx}{dt}=-x_0\omega_0Sin(\omega_0t+\varphi_0)$$$$v_0=x_0\omega_0 - амплитуда скорости$$</div>
	<li>Запишите зависимость ускорения точки, совершающей гармонические колебания от времени.</li>
	<div>$$\frac{d^2x}{dt^2}=-x_o\omega_0^2Cos(\omega_0t+\varphi_0)=\\=x_0\omega_0^2Cos(\omega_0t+\varphi_0+\pi)$$</div>
	<li>Что называется уравнением гармонического осциллятора.</li>
	<div>Гармоническим осциллятором называется система, совершающая колебания, описываемые дифференциальным уравнением \(\ddot{s}+\omega^2s=0\). Примерами гармонического осциллятора являются пружинный, математический и физический маятники и электрический колебательный контур.<br><b>Уравнение гармоннического осциллятора</b>$$x=x_0Cos(\omega_0t=\varphi_0)$$$$\frac{d^2x}{dt^2}=-x_0\omega_0^2Cos(\omega_0t+\varphi_0)$$$$\frac{d^2x}{dt^2}=-\omega_0^2x$$Гармони́ческий осцилля́тор (в классической механике) — система, которая при выведении её из положения равновесия испытывает действие возвращающей силы \(F\), пропорциональной смещению \(x:\ F=-kx\), где \(k\) — постоянный коэффициент.</div>
	<li>Как определить амплитуду и начальную фазу колебаний, зная координату и скорость точки в начальный момент времени и циклическую частоту колебаний?</li>
	<div>$$x(t=0)=x_0Cos\varphi_0$$$$v_x(t=0)=-x_0\omega_0Sin\varphi_0$$$$x_0=\sqrt{x^2(t=0)+\frac{v_x^2(t=0)}{\omega_0^2}}$$</div>
	<li>Запишите уравнение колебаний пружинного маятника.</li>
	<div>$$\frac{d^2x}{dt^2}+\frac{k}{m}x=0$$$$x=Acos(\omega_0t+\varphi)$$</div>
	<li>Получите формулу для периода колебаний пружинного маятника</li>
	<div>$$T=\frac{2\pi}{\omega_0},\ \omega_0=\sqrt{\frac{m}{k}}\Rightarrow T=2\pi\sqrt\frac{m}{k}$$</div>
	<li>Запишите уравнение колебаний математического маятника</li>
	<div><img src="{% static 'img/199.jpg' %}" style="width: 100%;"></div>
	<li>Получите формулу для периода колебаний математического маятника.</li>
	<div>$$\omega_0=\sqrt\frac{g}{l}\Rightarrow T=2\pi\sqrt\frac{l}{g}$$</div>
	<li>Запишите уравнение колебаний физического маятника.</li>
	<div><img src="{% static 'img/201.jpg' %}" style="width: 100%;"></div>
	<li>Получите формулу для периода колебаний физического маятника.</li>
	<div><img src="{% static 'img/201.jpg' %}" style="width: 100%;"></div>
	<li>Получите формулу для полной энергии гармонического осциллятора</li>
	<div><img src="{% static 'img/203.jpg' %}" style="width: 100%;"></div>
	<li>Как период колебаний кинетической энергии гармонического осциллятора соотносится с периодом его колебаний?</li>
	<div><img src="{% static 'img/204.jpg' %}" style="width: 100%;"></div>
	<li>Покажите, как можно определить амплитуду и фазу суммы колебаний при помощи векторной диаграммы?</li>
	<div><img src="{% static 'img/205.jpg' %}" style="width: 100%;"></div>
	<li>Всегда ли энергия суммы колебаний равна сумме энергий колебаний?</li>
	<div>Энергия суммы колебаний не равна сумме энергий колебаний, если только сдфиг фаз не равен \(\pi/2\)</div>
	<li>Как результат сложения взаимно перпендикулярных колебаний зависит от сдвига фаз?</li>
	<div>$$\frac{d^2x}{dt^2}=-x_0\omega_0^2Cos(\omega_0t+\varphi_0)=$$$$=x_0\omega_0^2Cos(\omega_0t+\varphi_0+\pi)$$</div>
	<li>Запишите уравнение колебаний заряда в колебательном контуре в отсутствие затухания.</li>
	<div>$$q=q_0Cos(\omega_0t+\varphi_0)$$</div>
	<li>Выведите формулу для периода колебаний заряда в контуре в отсутствие затухания.</li>
	<div><img src="{% static 'img/209.jpg' %}" style="width: 100%;"></div>
	<li>Запишите уравнение затухающих механических колебаний</li>
	<div><img src="{% static 'img/210.jpg' %}" style="width: 100%;"></div>
	<li>Запишите уравнение затухающих электромагнитных колебаний</li>
	<div><img src="{% static 'img/211.jpg' %}" style="width: 100%;"></div>
	<li>Как выглядит решение уравнения затухающих колебаний в случае малого затухания? (Примеры для механических и электромагнитных колебаний)</li>
	<div>
		<p style="text-align: center;">Механические</p>
		<img src="{% static 'img/212_2.jpg' %}" style="width: 100%;">
		<p style="text-align: center;">Электромагнитные</p>
		<img src="{% static 'img/212_1.jpg' %}" style="width: 100%;">
	</div>
	<li>Как определяется амплитуда затухающих гармонических колебаний в случае малого затухания? (Примеры для механических и электромагнитных колебаний)</li>
	<div>
		<p style="text-align: center;">Механические</p>
		$$x_m=x_0e^{-\beta t}$$
		<p style="text-align: center;">Электромагнитные</p>
		$$q_m=q_0e^{-\beta t},\ q_m=q_0e^{-\frac{R}{2L}t}$$
	</div>
	<li>Как определяется частота затухающих гармонических колебаний в случае малого затухания? (Примеры для механических и электромагнитных колебаний)</li>
	<div>
		<p style="text-align: center;">Механические</p>
		$$\omega^2=\omega_0^2-\beta^2$$
		<p style="text-align: center;">Электромагнитные</p>
		$$\omega^2=\omega_0^2-\beta^2,\ \omega^2=\frac{1}{LC}-\frac{R^2}{4L^2}$$
	</div>
	<li>Что называют коэффициентом затухания? (Как он зависит от характеристик колебательной системы?)</li>
	<div>Время релаксации \(\tau\)-время, за которое амплитуда колебаний уменьшается в \(e\) раз. \(\tau=\frac{1}{\beta}\). Следовательно, коэффициент затухания β есть физическая величина, обратная времени, в течение которого амплитуда уменьшается в \(e\) раз.</div>
	<li>Что называют временем релаксации для затухающих механических колебаний? (Как оно зависит от характеристик колебательной системы?)</li>
	<div>Время релаксации \(\tau\)-время, за которое амплитуда колебаний уменьшается в \(e\) раз. \(\tau=\frac{1}{\beta}\)</div>
	<li>Что называют логарифмическим декрементом затухания? (Примеры для механических и электромагнитных колебаний)</li>
	<div>Логарифмический декремент затухания \(\lambda\) есть физическая величина, обратная числу колебаний, по истечении которых амплитуда \(A\) уменьшается в \(e\) раз.
		<img src="{% static 'img/217_1.jpg' %}" style="width: 100%;">
		<img src="{% static 'img/217_2.jpg' %}" style="width: 100%;">
	</div>
	<li>Что называют добротностью колебательной системы?(Примеры для механических и электромагнитных колебаний)</li>
	<div>Добротность колебательной системы, отношение энергии, запасённой в колебательной системе, к энергии, теряемой системой за один период колебания.
		<img src="{% static 'img/218_1.jpg' %}" style="width: 100%;">
		<img src="{% static 'img/218_2.jpg' %}" style="width: 100%;">	
	</div>
	<li>Запишите уравнение вынужденных механических колебаний</li>
	<div>
		<img src="{% static 'img/219.jpg' %}" style="width: 100%;">
	</div>
	<li>Как определить амплитуду и фазу установившихся вынужденных механических колебаний с помощью векторной диаграммы?</li>
	<div></div>
	<li>Как выглядит уравнение установившихся вынужденных механических колебаний?</li>
	<div></div>
	<li>Когда при вынужденных механических колебаниях наступает резонанс?</li>
	<div>Резонанс – это явление резкого возрастания амплитуды вынужденных колебаний при приближении частоты вынуждающей силы к собственной частоте колебательной системы. Резонанс возникает из-за того, что при приближении частоты вынуждающей силы к собственной частоте колебательной системы внешняя сила, действуя в такт со свободными колебаниями, все время имеет одинаковое направление со скоростью колеблющегося тела и совершает положительную работу: энергия колеблющегося тела увеличивается, и амплитуда его колебаний становится большой. Если же внешняя сила действует «не в такт», то эта силы попеременно совершает то отрицательную, то положительную работу и вследствие этого энергия системы меняется незначительно.</div>
	<li>При какой частоте вынуждающей силы наступает резонанс в механической колебательной системе?</li>
	<div>$$\omega_{рез}=\sqrt{\omega_0^2-2\beta^2}$$</div>
	<li>Каков сдвиг фаз между смещением и вынуждающей силой при резонансе в механической колебательной системе?</li>
	<div>$$tg\varphi=\frac{2\beta\omega}{\omega_0^2-\omega^2}$$</div>
	<li>Запишите уравнение вынужденных электромагнитных колебаний</li>
	<div>$$\frac{d^2q}{dt^2}+\frac{R}{L}\frac{dq}{dt}+\frac{1}{LC}q=\frac{\varepsilon_0}{L}Cos\omega t,\ \varepsilon_0\ -\ ЭДС$$</div>
	<li>Как определить амплитуду и фазу установившихся вынужденных колебаний тока в контуре с помощью векторной диаграммы?</li>
	<div><img src="{% static 'img/226.jpg' %}" style="width: 100%;"></div>
	<li>Как выглядит уравнение установившихся вынужденных колебаний заряда конденсатора?</li>
	<div>\(q=q_mcos(\omega t-\psi)\), где \(q_m\) - амплитуда заряда на конденсаторе; \(\psi\) - разность фаз между колебаниями заряда и внешней ЭДС \(\varepsilon\)</div>
	<li>Как выглядит уравнение установившихся вынужденных колебаний тока в катушке индуктивности?</li>
	<div>\(I=I_mcos(\omega t-\varphi)\), где \(q_m\) - амплитуда заряда на конденсаторе; \(\varphi\) - разность фаз между колебаниями заряда и внешней ЭДС \(\varepsilon\)</div>
	<li>Когда при вынужденных электромагнитных колебаниях наступает резонанс по току?</li>
	<div>Когда индуктивное сопротивление катушки совпадает с емкостным конденсатора, т.е при приближении значения резонансной частоты для силы тока к собственной частоте контура$$\omega_{I\ рез}=\omega_0=\frac{1}{\sqrt{LC}}$$</div>
	<li>Когда при вынужденных электромагнитных колебаниях наступает резонанс заряда конденсатора?</li>
	<div>При приближении значения резонансной частоты к значению, вычисляемому по формуле:$$\omega_{q\ рез}=\sqrt{\omega_0^2-2\beta^2}$$</div>
	<li>При какой частоте вынуждающей ЭДС наступает резонанс по току в колебательном контуре?</li>
	<div>При приближении значения резонансной частоты для силы тока к собственной частоте контура$$\omega_{I\ рез}=\omega_0=\frac{1}{\sqrt{LC}}$$</div>
	<li>При какой частоте вынуждающей ЭДС наступает резонанс по заряду конденсатора в колебательном контуре?</li>
	<div>При приближении значения резонансной частоты к значению, вычисляемому по формуле:$$\omega_{q\ рез}=\sqrt{\omega_0^2-2\beta^2}$$</div>
	<li>Каков сдвиг фаз между током и вынуждающей ЭДС при резонансе в колебательном контуре?</li>
	<div>$$tg\varphi=\frac{\omega L-1/\omega C}{R},\ \varphi=arctg...$$</div>
	<li>Каков сдвиг фаз между зарядом конденсатора и вынуждающей ЭДС при резонансе в колебательном контуре?</li>
	<div>$$tg\varphi=\frac{\omega L-1/\omega C}{R},\ \varphi=arctg...+\frac{\pi}{2}$$</div>
	<li>Какие волны называют стоячими, а какие бегущими?</li>
	<div></div>
	<li>Что называют волновой поверхностью?</li>
	<div>(Геометрическое место точек, в которых фаза колебаний имеет одно и тоже значение)<br>Дополнительно: Волна - плоская, если ее волновые поверхности - система параллельных плоскостей; волна - сферическая, если ее волновые поверхности - система концентрических сфер.</div>
	<li>Запишите уравнение плоской синусоидальной волны.</li>
	<div><img src="{% static 'img/237.jpg' %}" style="width: 100%;"></div>
	<li>Запишите уравнение плоской синусоидальной волны через волновой вектор</li>
	<div><img src="{% static 'img/238.jpg' %}" style="width: 100%;"></div>
	<li>Запишите уравнение плоской синусоидальной волны в комплексном виде.</li>
	<div><img src="{% static 'img/239.jpg' %}" style="width: 100%;"></div>
	<li>Запишите уравнение сферической синусоидальной волны</li>
	<div>$$S=\frac{a_0}{r}Cos(\omega t-\vec k\vec r+\varphi_0)$$</div>
	<li>Что называют волновым вектором?</li>
	<div>Волновой вектор k - вектор по модулю равный волновому числу и направленный в направлении распространения волны<br>Волновое число \(k=\frac{2\pi}{\lambda}=\frac{2\pi}{vT}=\frac{\omega}{v}\)</div>
	<li>Что называют длиной волны?</li>
	<div>Расстояние, на которое плоская волна распространяется за период; Расстояние между двумя ближайшими точками среды, в которых разность фаз колебаний \(2\pi\).$$\lambda=vT$$</div>
	<li>Как амплитуда сферической волны зависит от расстояния до источника?</li>
	<div><img src="{% static 'img/243.jpg' %}" style="width: 100%;"></div>
	<li>Что называется волновым уравнением? Приведите пример.</li>
	<div>Дифференциальное уравнение с частными производными, описывающее распространение волн в некоторой среде (формулы - для однородной изотропной среды)$$\frac{\partial^2S}{\partial x^2}+\frac{\partial^2S}{\partial y^2}+\frac{\partial^2S}{\partial z^2}=\frac{1}{v^2}\frac{\partial^2S}{\partial t^2}$$$$\Delta S=\frac{1}{v^2}\frac{\partial^2S}{\partial t^2}$$</div>
	<li>Что называется фазовой скоростью волны?</li>
	<div>Скорость распространения синусоидальной волны, равная скорости перемещения в пространстве точек поверхности, соответствующей любому фиксированному значению синусоидальной волны</div>
	<li>Запишите волновое уравнение для вектора E</li>
	<div>$$\Delta\vec E=\frac{1}{c^2}\frac{\partial^2\vec E}{\partial t^2}$$</div>
	<li>Запишите волновое уравнение для вектора H.</li>
	<div>$$\Delta\vec H=\frac{1}{c^2}\frac{\partial^2\vec H}{\partial t^2}$$</div>
	<li>Покажите скорость распространения электромагнитных волн в волновом уравнении?</li>
	<div>$$c=\frac{1}{\sqrt{\varepsilon_0\varepsilon\mu_0\mu}}$$Скорость света в вакууме$$c=\frac{1}{\sqrt{\varepsilon_0\mu_0}}=3\cdot 10^8\ м/с$$</div>
</ol>
{% endblock %}