#content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    min-height: 10px;
    background:#fff;
    padding: 50px 0;
    -webkit-box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}

#menu {
    width: 100%;
    max-width: 400px;
    position: fixed;
    top: 0;
    margin: 0 auto;
    cursor: pointer;
    z-index:101;
}
.menu-block {
    width: 100%;
    height: 50px;
    background: #6495ED;
    border-bottom: 1px solid #fff;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 20px;
}
.menu-head {
    color: #000;
}
.menu-item {
    display: none;
}
.menu-item a {
    display: inline-block;
    width: 100%;
    color: #fff;
}
.menu-item a:hover, .menu-item a:active {
    text-decoration: none;
}

#search {
    width: 100%;
    background: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #6495ED;
    margin-bottom: 10px;
}
#search:focus {
    outline: none;
}

.list {
    width: 100%;
    padding: 10px 20px;
}
.item {
    margin-bottom: 10px;
}
.item a{
    display: inline-block;
    width: 100%;
    background: #f1f1f1;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #000;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear
}
.item a:hover, .item a:active {
    background:#e1e1e1;
    text-decoration: none;
}

#pages {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
#pages img {
    width: 100%;
}

.add {
    padding: 0 20px;
    cursor: pointer;
}
.add span{
    display: inline-block;
    width: 100%;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #6495ED;
}

.ticket_form {
    display: none;
    padding: 0 20px;
}
.ticket_form p label{
    display: none;
}
.ticket_form p input{
    font-size: 15px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #6495ED;
}
.ticket_form p input[type="submit"] {
    background: #6495ED;
}

.list-min {
    padding: 0 10px 0 30px;
    text-align: justify;
}
.list-min>li{
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
}
.list-min>li:hover{
    text-decoration: underline;
}
.list-min>div{
    display: none;
    overflow: hidden;
}

ul {
    padding-left: 16px;
}